body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;

}


.topnav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #703eef;
    color: rgb(255, 255, 255);
}



.hero-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
    width: 100vw;
    height: 95vh;
}


.hero-image {

    position: relative;
    background-image: url(images/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.5);
    color: linen;
    top: 47px;
    background-position: 1px, -40vh;
    display: flow-root;
}




.button {
    background-color: #703eef;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.4;
    transition: 0.7s;
    display: flex;
    text-decoration: none;
    cursor: pointer;

}

.button:hover {
    opacity: 1;
}

.hero-text>h1 {
    opacity: .9;
    transition: .3s;

}

.hero-text>p {
    font-style: italic;
    font-size: x-large;
    opacity: .9;
    transition: .1s;
}

.hero-text>p:hover {

    opacity: 1;
}

.hero-text>h1:hover {

    opacity: 1;
}